<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments\layout\container-lg}" th:with="currentPage='apk'">

<head>
  <title>Sun Life Malaysia - Share APK</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>APK Files (Android)</h1>
      <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apkFileModal" data-bs-title="Upload New APK file" data-bs-submit="Upload APK File">
        Upload New APK File
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle" aria-describedby="apk table">
        <thead>
          <tr>
            <th scope="col">App</th>
            <th scope="col">Package</th>
            <th scope="col">App Version</th>
            <th scope="col">App Build</th>
            <th scope="col">Minimum SDK Version</th>
            <th scope="col">Target SDK Version</th>
            <th scope="col">Upload Date</th>
            <th scope="col">App Size</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="apk: ${apkFiles}">
            <td><a th:href="@{/apk/} + ${apk.fileUuid}"><span th:text="${apk.id + ' - ' + apk.appName}"></span></a></td>
            <td th:text="${apk.appPackage}" />
            <td th:text="${apk.versionName}" />
            <td th:text="${apk.versionCode}" />
            <td th:text="${apk.compileSdkVersion}" />
            <td th:text="${apk.platformBuildVersionCode}" />
            <td th:text="${apk.createdDate}" />
            <td th:text="${#numbers.formatDecimal(apk.fileSize / 1024.00 / 1024.00, 0, 2) + 'MB' }" />
            <td class="text-center">
              <div class="btn-group" role="group" aria-label="Action Group">
                <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${apk.id}" th:data-bs-file-uuid="${apk.fileUuid}" th:data-bs-app-name="${apk.appName}"><span th:insert="~{fragments/bootstrap-icons :: bi-trash('24', '24')}"></span></button>
                <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#qrCodeModal" th:data-bs-id="${apk.id}" th:data-bs-file-uuid="${apk.fileUuid}" th:data-bs-app-name="${apk.appName}" th:data-bs-app-version="${apk.versionName}" th:data-bs-app-build="${apk.versionCode}" th:data-bs-href="${apk.downloadUri}"><span th:insert="~{fragments/bootstrap-icons :: bi-qr-code('24', '24')}"></span></button>
                <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#releaseNotesModal" th:data-bs-id="${apk.id}" th:data-bs-file-uuid="${apk.fileUuid}" th:data-bs-app-name="${apk.appName}"><span th:insert="~{fragments/bootstrap-icons :: bi-cloud-upload('24', '24')}"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span id="icon-circle-fill" th:insert="~{fragments/bootstrap-icons :: bi-circle-fill('16', '16')}" class="d-none"></span>
    </div>
    <form th:action="@{/apk}" method="post" enctype="multipart/form-data">
      <div class="modal fade" id="apkFileModal" tabindex="-1" aria-labelledby="apkFileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="apkFileModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="file" class="col-form-label required">APK File:</label>
                <input type="file" class="form-control" id="file" name="file" required accept=".apk" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form th:action="@{/apk/release-notes}" method="post" enctype="multipart/form-data">
      <div class="modal fade" id="releaseNotesModal" tabindex="-1" aria-labelledby="releaseNotesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="releaseNotesModalLabel">Upload Release Notes</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="file" class="col-form-label required">Release Notes:</label>
                <input type="file" class="form-control" id="file" name="file" required accept=".txt, .md" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload Release Notes</button>
              <input type="hidden" name="fileUuid">
            </div>
          </div>
        </div>
      </div>
    </form>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div th:replace="~{fragments/bootstrap-toasts :: error-toast}" th:with="error=${error}"></div>
    </div>

    <div th:replace="~{fragments/bootstrap-modals :: delete-confirmation-modal('deleteModal', ~{})}"></div>

    <div th:replace="~{fragments/bootstrap-modals :: info-modal('qrCodeModal', ~{::div[@class='body-content']})}">
      <div class="body-content">
        <div class="d-flex justify-content-center align-items-center">
          <div class="flex-shrink-0">
            <img alt="QR Code" src="">
          </div>
          <div class="flex-grow-1 ms-3">
            <h1 class="app-name"></h1>
            <h6 class="d-inline">App Version: </h6><span class="app-version"></span>
            <br>
            <h6 class="d-inline">App Build: </h6><span class="app-build"></span>
            <br>
            <a class="btn btn-primary btn-lg mt-2" href="#">Install</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const baseUrl = /*[[@{'/apk'}]]*/ "/";

      // toast
      const errorToast = document.getElementById("errorToast");
      const toast = new bootstrap.Toast(errorToast);
      errorToast.addEventListener('show.bs.toast', () => {
        let now = new Date();
        errorToast.querySelector("#time-ago").textContent = timeAgo(now);
      })

      // modal (upload)
      const apkModal = document.getElementById('apkFileModal');
      const apkModalTitle = apkModal.querySelector('.modal-title');
      const apkModalSubmitButton = apkModal.querySelector('.modal-footer button[type="submit"]');

      apkModal.parentElement.addEventListener("submit", () => {
        apkModalSubmitButton.disabled = true;
        apkModalSubmitButton.textContent = "Uploading..."
      })

      apkModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        const modalTitle = button.dataset.bsTitle;
        const modalSubmitButtonText = button.dataset.bsSubmit;

        apkModalTitle.textContent = `${modalTitle}`;
        apkModalSubmitButton.textContent = modalSubmitButtonText;
      })

      // modal (upload release notes)
      const releaseNotesModal = document.getElementById('releaseNotesModal');
      const releaseNotesModalSubmitButton = releaseNotesModal.querySelector('.modal-footer button[type="submit"]');
      const releaseNotesFileUuidInput = releaseNotesModal.querySelector('input[name="fileUuid"]');
      releaseNotesModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        releaseNotesFileUuidInput.value = button.dataset.bsFileUuid;
      })

      // modal (QR code)
      const qrCodeModal = document.getElementById('qrCodeModal');
      const qrCodeModalTitle = qrCodeModal.querySelector('.modal-title');
      const qrCodeModalAppName = qrCodeModal.querySelector('.modal-body .app-name');
      const qrCodeModalAppVersion = qrCodeModal.querySelector('.modal-body .app-version');
      const qrCodeModalAppBuild = qrCodeModal.querySelector('.modal-body .app-build');
      const qrCodeModalLink = qrCodeModal.querySelector('.modal-body a');
      const qrCodeModalImg = qrCodeModal.querySelector('.modal-body img');

      qrCodeModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        const id = button.dataset.bsId;
        const fileUuid = button.dataset.bsFileUuid;
        const appName = button.dataset.bsAppName;
        const appVersion = button.dataset.bsAppVersion;
        const appBuild = button.dataset.bsAppBuild
        const href = button.dataset.bsHref
        qrCodeModalTitle.textContent = `QR Code (${id} - ${appName})`;
        qrCodeModalAppName.textContent = appName;
        qrCodeModalAppVersion.textContent = appVersion;
        qrCodeModalAppBuild.textContent = appBuild;
        qrCodeModalImg.src = `${baseUrl}/${fileUuid}/qr-code`;
        qrCodeModalLink.href = `${href}`;
      })

      // modal (delete)
      const deleteModal = document.getElementById('deleteModal');
      const deleteModalTitle = deleteModal.querySelector('.modal-title');
      const deleteModalBody = deleteModal.querySelector('.modal-body');
      const deleteModalButton = deleteModal.querySelector('.modal-footer button.btn-danger');

      deleteModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        const id = button.dataset.bsId;
        const fileUuid = button.dataset.bsFileUuid;
        const appName = button.getAttribute('data-bs-app-name');

        deleteModalTitle.textContent = `Delete APK File (${id} - ${appName})`;
        deleteModalBody.textContent = `Are you sure you want to delete this record?`;
        deleteModalButton.value = fileUuid;
      })

      deleteModalButton.addEventListener('click', event => {
        deleteModalButton.disabled = true;
        const formData = new FormData();

        formData.append('fileUuid', deleteModalButton.value);

        fetch(baseUrl, {
          method: 'DELETE',
          body: formData,
          headers: headerWithCsrf()
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Unable to delete the APK File. Please check the logs.');
            }
            return response.json();
          })
          .then((result) => {
            location.reload();
          })
          .catch((error) => {
            deleteModalButton.disabled = false;
            errorToast.querySelector(".toast-body").textContent = error;
            toast.show();
          });
      })

    </script>
    <script th:if="${error != null}">

      setTimeout(() => {
        toast.show();
      }, 1);

    </script>
  </th:block>
</body>

</html>