<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Sun Life Malaysia</title>

  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/app.css}" rel="stylesheet" />

</head>

<body>
  <header class="navbar sticky-top bg-white flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" th:href="@{/}"><img th:src="@{/img/sunlife-logo.svg}" alt="Sun Life Malaysia" width="130" /></a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" th:classappend="${currentPage == 'home'} ? 'active'" aria-current="page" th:href="@{/}">
                <span data-feather="home" class="align-text-bottom"></span>
                App4Share
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${currentPage == 'ipa'} ? 'active'" th:href="@{/ipa}">
                <span data-feather="ipa" class="align-text-bottom"></span>
                Share IPA (iOS)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${currentPage == 'apk'} ? 'active'" th:href="@{/apk}">
                <span data-feather="apk" class="align-text-bottom"></span>
                Share APK (Android)
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3" layout:fragment="content"></main>
    </div>
  </div>

  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/showdown.min.js}"></script>
  <script th:src="@{/js/time-utils.js}"></script>
  <th:block layout:fragment="script"></th:block>
</body>

</html>